body{
    background-color: #f6f6f6;
}
h1{font-size: 64px; background-color: red; color: white;  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;}
nav {
background-color: Red;
font-family:Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: bold;
}


.btn-mem {
    float:right;
    margin-right: 20px;
    margin-top: 13px;
    padding: 5px 25px;
    background-color: rgba(194, 0, 0, 0.288);
    font-size: 18px;
    border-radius: 7px;
}

.btn-mem:hover {
    background-color: rgb(170, 0, 0);
}

.btn-mem:active {
    transform: translateY(4px);
}
.navbar .navbar-brand img {
height: 60px;
width:60px;
}
.wireframe {
    border:2px solid green;
}
.row {
    border: 1px solid blue;
}
#mycol{
    border: 1px solid yellow;
}